<!DOCTYPE html>
<html>
<head>
    <title>Cms</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="CmsIcon.png"/>

    <link rel="stylesheet" href="stylesheets/tangerine.less.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="jquery-ui.css">
</head>	
<body>
	<% if flash[:notice] %>
	  <div class="disposable_alert"><%= flash[:notice] %></div>
	<% end %>  
    <div id='navigation' class="clearfix"></div>
    <div id="content_wrapper">
		<div id='content'>
			<div class="login_view">
				<img src="tangerine_logo.png" id="login_logo">
				<form action="/login" method="post">
				  Name: <input type="text" name="username"><br>
				  Password: <input type="password" name="password"><br>
				  <button class="login" type="submit">Login</button>
				</form>
			</div>
		</div>
	</div>			
</body>	
</html>